<div class="row-fluid row" style="height:800px;">
    
    <div class="span8 offset2" id="helpwindow">

        <div id="xrat-header" class="page-header">
            <h1>XRAT <small>- What is it?</small></h1>
        </div>
        <div>
            <h3>In simple terms, an XSS Shell.</h3>

            <div class="alert alert-error alert-block fade in">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <h4>Caution!</h4> XRAT is intended to be a security-testing and educational tool. It can be used for malicious and illegal purposes but I do not condone such activities and will take no such responsibility for malicious activities carried out using the tool. Use at your own peril. If you are going to use the job feature for a distributed grid computing job, make sure that the individual nodes are either your computers or you have consent to use that users CPU cycles.
            </div>

            <p>XRAT stands for XSS Remote Admin Tool. So basically it provides you with a shell to control hooked browsers. A hooked browser is a user's browser that has loaded the client-side javascript, and is now communicating with this server and exposing all of its functionality to be controlled. In addition to this, XRAT attempts to provide a proof-of-concept for Javascript-based Grid Computing.</p>

            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>





        <div id="getting-started-header" class="page-header">
            <h1>Getting Started <small>- Just the basics</small></h1>
        </div>





        <div id="modules-header" class="page-header">
            <h1>Modules <small>- What are they?</small></h1>
        </div>





        <div id="jobs-header" class="page-header">
            <h1>Jobs <small>- What are they?</small></h1>
        </div>


        
    </div>
</div>