<div class="row-fluid row" style="height:800px;">
        <div class="span3">
            <ul class="nav nav-tabs nav-stacked">
                <li class="active"><a href="#/dashboard/target/all">Job 0</a></li>
                <li><a href="#">Job 1</a></li>
                <li><a href="#">Job 2</a></li>
                <li><a href="#">Job 3</a></li>
                <li><a href="#">Job 4</a></li>
                <li><a href="#">Job 5</a></li>
            </ul>
        </div>
        <div class="span9">
            <div class="page-header">
                <h1>JOBS COMING SOON </h1>
            </div>
        </div>
</div>