<div class="row-fluid row" style="height:800px;">
    
    <div class="span8 offset2" id="moduleinfowindow">

        <div class="page-header">
            <h1>Alert <small>- A simple popup</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Alert II <small>- A fancy non blocking modal</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>



        <div class="page-header">
            <h1>AdClicker <small>- Fraud Ad Clicks</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Cookie Grabber <small>- Become your victim</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Chat <small>- Open up a chat session with your victim</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Deface <small>- Vandalize a Webpage</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>FakeTabs <small>- Make a tab impersonate another page</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Keylogger <small>- Monitor browser keystrokes</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>ProxyBrowse <small>- Stealthily browse through the victim</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>PlaySound <small>- Play a sound on your victim's browser</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>



        <div class="page-header">
            <h1>PageView <small>- See what they see</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>



        <div class="page-header">
            <h1>RouterHacks <small>- Dict Attacks on Home Routers</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Redirect <small>- Send them to another page</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Shell <small>- A command line interpreter</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


        <div class="page-header">
            <h1>Spearphishing <small>- Gmail, Yahoo, and more to come</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>


       <div class="page-header">
            <h1>Webcam <small>- WebRTC only</small></h1>
        </div>
        <div>
            <p>Inside XRAT is the ability to take over a user's browser and use one of the preinstalled modules to carry out some functionality including keylogging, stealing cookies, navigating to other pages, through the use of persistent iframes.</p>

        </div>

        
    </div>
</div>